.App {
    text-align: center;
    padding: 20px;
}

.genreCheckbox {
    display: none;
    box-sizing: border-box;
}

.genreCheckbox:checked ~ label img {
    outline: 0.25em solid #44cf5f;
    outline-offset: -0.25em;
}

table {
    margin: 10px auto;
}

.genre {
    position: relative;
    color: white;
    width: 274px;
    height: 274px;
    margin: 0.4em 0.4em;

}

.genre span {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
}

.genre i {
    display: none;
    position: absolute;
    font-size: 26px;
    right: 0.5em;
    top: 0.5em;
}

.genreCheckbox:checked ~ label i {
    display: block;
}

#start {
    background: #1bd75f;
    color: white;
}