@font-face {
  font-family: myriadProLight;
  src: url(../assets/fonts/Myriad-Pro-Light.ttf);
}

@font-face {
  font-family: myriadPro;
  src: url(../assets/fonts/Myriad-Pro.ttf);
}

html, body, .Home {
  font-family: myriadProLight;
  height: 100%
}

.Home {
  text-align: center;
}

.Home-header {
  padding-top: 7%;
  color: white;
}
.Home-header h1 {
  font-size: 6rem;
  color: white;
  padding-bottom: 1rem;
}

.Home-header img {
  padding-bottom: 2.5rem;
}
.Home-title {
  font-size: 5em;
}

.Home-intro {
  font-size: large;
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background-color: #342d3d;
}

.fullscreen-bg__video {
  position: absolute;
  top: 15%;
  left: 0;
  width: 100%;
  height: 60%;
}

.btn {
  font-size: 1.2rem;
  color: #1bd75f;
  border-color: #1bd75f;
}

.login {
  margin: 0px 5px;
  background: transparent;
}

.login:hover{
  transition: 0.25s linear;
  background: #1bd75f;
  color: white;
  border-color: #1bd75f;
}